<div class="w-100 row">
    <div class="col-2">
        <div style="height: 93vh;" class="bg-dark pt-5">
            <div>
                <h5 class="text-center">
                    <a routerLink="/home" class="text-light text-decoration-none">Home</a>
                </h5>
                <h5 class="text-center mt-5">
                    <a routerLink="/employee" class="text-light text-decoration-none">Employee</a>
                </h5>
            </div>
            <div class="text-center">
                <button class="btn btn-link text-danger" (click)="logout()">Logout</button>
            </div>


        </div>

    </div>
    <div class="col-10 p-2 row">
        <div class="col-8">
            <div class="d-flex justify-content-center p-5"
                style="background-image: url('https://t4.ftcdn.net/jpg/04/95/28/65/360_F_495286577_rpsT2Shmr6g81hOhGXALhxWOfx1vOQBa.jpg');">
                <h3 class="text-light">Welcome Admin!!!</h3>
            </div>
            <div class="row">
                <div class="col">
                    <app-calender></app-calender>
                </div>
                <div class="col">
                    <app-chart></app-chart>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div style="height: 450px;">
                <app-profile></app-profile>
            </div>
            <div class="p-5 text-light"
                style="background-image: url('https://t4.ftcdn.net/jpg/04/95/28/65/360_F_495286577_rpsT2Shmr6g81hOhGXALhxWOfx1vOQBa.jpg');">
                <h3>Employee Count : {{count}}</h3>
            </div>
        </div>
    </div>
</div>